node_modules
package-lock.json
allure-report
allure-results
errScreens
.vscode
yarn-error.log
.env
phantomjs.log
**/wdio-report.html
**/api-report.html
**/.DS_Store
.DS_Store
/personal
/grpc/src
**/grpc-report.html
jsconfig.json
**/wdio.local.js