node_modules
allure-results
errScreens
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
package-lock.json
test/api/node_modules
test/web/node_modules
package-lock.json
yarn-error.log
.env
phantomjs.log
**/wdio-report.html
**/api-report.html
**/.DS_Store
.DS_Store
/personal
/grpc/src
**/grpc-report.html
bitbucket-pipelines.yml
.eslintignore
.prettierignore
.eslintignore
--ignore